@media screen and (max-width:249px) {
  .deck .card {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width:250px) and (max-width:263px) {
  .deck .card {
    height: 45px;
    width: 45px;
  }
}

@media screen and (max-width:263px) {
  .deck {
    padding: 15px;
  }
  .deck .card {
  border: 5px solid #02ccba;
  }
  .deck .card.show {
      font-size: 18px;
  }

  .deck .card.match {
      font-size: 18px;
  }
}

@media screen and (min-width:264px) and (max-width:433px) {
  .deck .card {
  border: 5px solid #02ccba;
  }
  .deck .card.show {
      font-size: 23px;
  }

  .deck .card.match {
      font-size: 23px;
  }
}

@media screen and (min-width:264px) and (max-width:283px) {
  .deck .card {
    height: 45px;
    width: 45px;
  }
}

@media screen and (min-width:284px) and (max-width:303px) {
  .deck .card {
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width:304px) and (max-width:350px) {
  .deck .card {
    height: 55px;
    width: 55px;
  }
}

@media screen and (min-width:351px) and (max-width:382px) {
  .deck .card {
    height: 60px;
    width: 60px;
  }
}

@media screen and (min-width:383px) and (max-width:408px) {
  .deck .card {
    height: 65px;
    width: 65px;
  }
}

@media screen and (min-width:409px) and (max-width:433px) {
  .deck .card {
    height: 70px;
    width: 70px;
  }
}

@media screen and (min-width:434px) and (max-width:458px) {
  .deck .card {
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width:459px) and (max-width:483px) {
  .deck .card {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width:484px) and (max-width:583px) {
  .deck .card {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width:608px) {
  .deck {
    width: 600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
